{% extends 'layout/base.html.twig' %}

{% block title %} My URLs {% endblock %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}

    {% include 'component/custom_type_message_top_fixed.html.twig' %}

    <div class="container-fluid min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h5 class="text-white-50 mt-lg-5 mt-3">
                        My Profile
                        <span class="float-end pt-1 pb-3 pe-2">
                            <a href="{{ path('app_profile_my_urls') }}"
                               class="d-color opacity-08 text-decoration-none fs-13">
                                <span class="md-d-none">My</span>URLs
                            </a>

                            <span class="fs-13 text-secondary px-1">|</span>

                            <a href="{{ path('app_dashboard_social_profile_index', {profile: socialProfileSetting.mainName}) }}"
                               class="d-color opacity-08 text-decoration-none fs-13">Social Profile
                            </a>

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <span class="fs-13 text-secondary px-1">|</span>
                                <a href="{{ path('app_admin_index') }}" class="fs-13 d-color opacity-08 text-decoration-none">Dashboard</a>
                            {% endif %}
                        </span>
                    </h5>

                    <div class="d-dark-secondary-color d-dark-border-color rounded-3">
                        <div class="d-flex p-3 mt-3">
                            <div class="">
                                <img src="{{ asset('avatar/' ~ profile.avatarName) }}" height="140px" alt="Avatar"
                                     style="border-radius: 10px;">
                                <div class="pt-3 ps-4" data-bs-target="#avatarModal" data-bs-toggle="modal">
                                    <p class="pointer my-1">
                                        <small class="text-secondary">
                                            Edit Avatar <span class="bi bi-pencil-square"></span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="ms-3">
                                <p class="text-white-50 pt-3 small"><span
                                            class="md-d-none">Username: </span>{{ app.user.name }}</p>
                                <p class="text-white-50 small"><span class="md-d-none">Email: </span>{{ app.user.email }}</p>
                                <p class="text-white-50 small"><span
                                            class="md-d-none">Created: </span>{{ app.user.createdAt|date('d.m.Y') }}</p>
                            </div>
                        </div>

                    </div>

                    <h5 class="text-white-50 mt-5">Setting</h5>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
                        <div class="col">
                            <div class="card h-100 d-dark-secondary-color d-dark-border-color">
                                <div class="card-body" data-bs-toggle="modal" data-bs-target="#usernameModal">
                                    <h6 class="card-title text-white-50 mb-0 py-2">
                                        Username
                                    </h6>
                                    <small class="text-secondary">
                                        Update your username.
                                        <span class="float-end text-secondary pointer bi bi-pencil-square"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 d-dark-secondary-color d-dark-border-color">
                                <div class="card-body" data-bs-toggle="modal" data-bs-target="#emailModal">
                                    <h6 class="card-title text-white-50 mb-0 py-2">
                                        E-mail address
                                    </h6>
                                    <small class="text-secondary">
                                        Update your account E-mail.
                                        <span class="float-end text-secondary pointer bi bi-pencil-square"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 d-dark-secondary-color d-dark-border-color">
                                <div class="card-body" data-bs-toggle="modal" data-bs-target="#exportModal">
                                    <h6 class="card-title text-white-50 mb-0 py-2">
                                        Personal Data
                                    </h6>
                                    <small class="text-secondary">
                                        Export your data as JSON.
                                        <span class="float-end text-secondary pointer bi bi-download"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 d-dark-secondary-color d-dark-border-color">
                                <div class="card-body" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <h6 class="card-title text-white-50 mb-0 py-2">
                                        Delete Account
                                    </h6>
                                    <small class="text-secondary">
                                        Request account deletion.
                                        <span class="float-end text-secondary pointer bi bi-trash"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="text-white-50 mt-5">Support</h5>

                <p class="text-white-50 fs-15">
                    If you have any questions about your account, please use the
                    <a href="{{ path('app_contact_us_index') }}" class="d-color opacity-08 text-decoration-none">contact
                        form</a> or
                    <a href="mailto::{{ email }}" class="d-color opacity-08 text-decoration-none">email us</a> directly.
                </p>
            </div>
        </div>
    </div>

    {% include 'profile/modal/update_username.html.twig' %}
    {% include 'profile/modal/update_email.html.twig' %}
    {% include 'profile/modal/export.html.twig' %}
    {% include 'profile/modal/avatar.html.twig' %}
    {% include 'profile/modal/delete.html.twig' %}

    {% include 'layout/footer.html.twig' %}

{% endblock %}