{% extends 'layout/base.html.twig' %}

{% block title %} My URLs {% endblock %}

{% block body %}

{% include 'layout/navbar.html.twig' %}

<div class="container-fluid">

    <div class="row py-3 d-dark-color shadow">
        <div class="col-lg-4 col-md-6">
            <h5 class="text-white-50 pt-1"> List of URLs</h5>
        </div>
        <div class="col-lg-4 md-d-none">
            <div class="input-group">
                <input type="text" class="form-control bg-placeholder" placeholder="Search .." aria-label="Search"
                    aria-describedby="button-addon2" style="background-color: transparent; border: 1px solid #6c757d;">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <span class="bi bi-search"></span>
                </button>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="d-flex float-end">
                <button class="btn btn-outline-secondary btn-sm mt-1 me-2" data-bs-toggle="modal"
                    data-bs-target="#newModal">
                    <span class="md-d-none">New</span> <span class="bi bi-plus"></span>
                </button>

                <div class="dropdown mt-1 me-2">
                    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="bi bi-three-dots"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li class="small">
                            <a class="dropdown-item active" href="#"><span class="bi bi-download pe-1"></span> Export</a>
                        </li>
                        <li class="small"><a class="dropdown-item" href="#"><span class="bi bi-gear pe-1"></span>
                                Settings</a></li>
                        <!-- <li>
                    <hr class="dropdown-divider">
                </li> -->
                        <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="table-responsive">
                <table class="table table-dark caption-top">
                    <thead class="small">
                        <tr>
                            <th class="col text-white-50">#</th>
                            <th class="col text-white-50">Title</th>
                            <th class="col text-white-50">Short-URL</th>
                            <th class="col text-white-50">URL</th>
                            <th class="col text-white-50">Count</th>
                            <th class="col text-white-50">Modified</th>
                            <th class="col text-white-50">Created</th>
                            <th class="col text-white-50">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i, link in links %}
                        <tr class="small">
                            <td class="text-white-50">{{i+1}}</td>
                            <td class="text-white-50">{{link.title ? link.title : '---'}}</td>
                            <td class="text-white-50" title="{{ app.request.schemeAndHttpHost ~ '/' ~ link.token}}">
                                <a href="{{ app.request.schemeAndHttpHost ~ '/' ~ link.token}}" class="ps-1"
                                    target="_blank">
                                    <span class="bi bi-box-arrow-up-right text-secondary"></span>
                                </a>
                            </td>
                            <td class="text-white-50" title="{{link.url}}">{{link.url|slice(0, 35) ~ ' ...'}}</td>
                            <td class="text-white-50">{{ link.counter}}</td>
                            <td class="text-white-50">{{link.updatedAt|date('d.m.Y')}}</td>
                            <td class="text-white-50">{{link.createdAt|date('d.m.Y')}}</td>
                            <td>
                                <span class="bi bi-pencil-square text-primary"></span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% include 'profile/modal/new.html.twig' %}

{% include 'layout/footer.html.twig' %}

{% endblock %}