{% extends 'layout/base_without.html.twig' %}

{% block title %} Authenticate {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container p-0">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-4 pt-5">
                <div class="d-dark-color p-4 rounded-3">

                    <div class="text-center pt-3">
                        <a href="{{app.request.schemeAndHttpHost}}">
                            <img src="{{asset('assets/img/logo.png')}}" alt="L1.">
                        </a>

                        <h3 class="my-1 text-center text-white-50">Authenticate</h3>

                        <p class="text-center text-white-50 mb-3">
                            For security reasons, we will send you a OTP via e-mail which you can use it to
                            access your dashbaord.
                        </p>
                    </div>

                    {% include 'component/form_alert.html.twig' %}

                    <form action="{{ path('app_auth_send') }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="mb-3">
                            <input class="form-control" type="email" placeholder="Email" aria-label="Email"
                                name="_username" required
                                >
                            <small class="text-secondary">Enter the email to receive your login code</small>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-success w-100" >Send me OTP</button>
                        </div>
                    </form>

                    <div class="my-3 text-center">
                        <p class="text-white-50">
                            Need an account? <a href="{{path('app_register')}}"
                                class="d-color text-decoration-none opacity-08">Create one</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}