{% extends 'layout/base.html.twig' %}

{% block title %} K24.ing :: URL on Blacklist {% endblock %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}

    {% include 'component/custom_type_message_top_fixed.html.twig' %}

    <div class="container-fluid pb-5 d-dark-color min-vh-100">
        <div class="container pb-5">
            <div class="px-lg-5 pb-5">
                <div class="row gx-lg-5 h-100 py-3">
                    <div class="col-lg-12">

                        <h4 class="text-warning font-weight-bold mt-lg-5 pt-5 mb-3">
                            Potentially Malicious Link Detected
                        </h4>

                        <p class="text-white-50 mb-lg-5 mb-md-3 fs-15">
                            The link you are attempting to access has been identified as potentially malicious and is
                            currently on a blacklist. This means it has been reported for containing harmful content or
                            engaging in suspicious activities. We strongly advise against clicking on this link, as it
                            may compromise your device's security or personal information. Please exercise caution and
                            consider seeking alternative, safer sources. Your online safety is our priority, so please
                            take this warning seriously.
                        </p>

                        <p class="fs-15"><b>Shorten Link:</b> https://k24[.]ing/{{ link.token}} </p>
                        <p class="fs-15"><b>Original Link:</b> <code>{{ link.url|replace({'http': 'hxxp', '.': '[.]'}) }}</code>
                            <i class="text-info">[we've replaced http with hxxp] and . with [.]</i>
                        </p>
                        <p class="fs-15"><b>User:</b> Unknown</p>
                        <p class="fs-15"><b>Public Link</b>: {{ link.isPublic ? 'Yes' : 'No' }}</p>
                        <p class="fs-15"><b>Created at:</b> {{ link.createdAt|date }}</p>

                        <h4 class="d-color font-weight-bold mt-3 pt-5 mb-3">
                            Important Security Warning
                        </h4>

                        <ol class="fs-15 text-white-50">
                            <li><b>Do Not Click</b> Avoid clicking on the link, as it may lead to harmful websites that
                                can compromise your personal information or infect your device with malware. </li>
                            <li><b><a href="{{ path('app_verify_source_shorten_link_index') }}"
                                    class="text-decoration-none">
                                        Verify the Source
                                    </a></b> Check the credibility of the source that provided the link. If
                                it seems suspicious or unfamiliar, it's best to disregard it.</li>
                            <li><b>Use Security Software</b> Ensure that you have up-to-date antivirus and anti-malware
                                software installed on your device. This can help protect you from potential threats.</li>
                            <li><b><a href="{{ path('app_report_abuse') }}" class="text-decoration-none">Report the Link</a>
                                </b> If you believe the link is malicious, consider reporting it to your
                                email provider or a cybersecurity organization to help protect others.</li>
                            <li><b>Stay Informed</b> Educate yourself about common online threats and phishing tactics to
                                better recognize and avoid potential risks in the future. Your online safety is
                                paramount!</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layout/footer.html.twig' %}

{% endblock %}