{% extends 'layout/base.html.twig' %}

{% block title %} My Social-Media Profiles {% endblock %}

{% block body %}

{% include 'layout/navbar.html.twig' %}

{% include 'component/custom_type_message_top_fixed.html.twig' %}

<div class="container-fluid">

    <div class="row py-3 d-dark-color shadow-sm">
        <div class="col-6">
            <h5 class="text-white-50 pt-2">Social-Media Profiles</h5>
        </div>
        <div class="col-6">
            <div class="text-white-50 pt-2 text-end me-2">
                {% if app.user %}
                <a href="#" data-bs-toggle="modal" data-bs-target="#socialProfileModal"
                    class="text-decoration-none d-color mt-3 pb-3 fs-15">
                    Add new Link <span class="bi bi-plus-square ps-1"></span>
                </a>
                {% else %}
                <a href="{{path('app_auth')}}" class="text-decoration-none mt-3 text-white-50 fs-15 pb-3">
                    Edit <span class="bi bi-pencil-square ps-1"></span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container pb-5 mt-3 mb-sm-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="text-center d-dark-color rounded-3 pb-4 mb-3 mt-3">

                    <div class="mb-1 pt-4">
                        <img src="{{asset('lte/img/avatar-160x160.png')}}" class="img-fluid rounded-pill" width="128px"
                            alt="User Image">
                    </div>

                    <div class="pt-1">
                        <span class="text-white fs-4">{{ socialProfileSetting.mainName }}</span>

                        {% if app.user %}
                        <span class="bi bi-pencil-square text-secondary ps-2 pointer" data-bs-toggle="modal"
                            data-bs-target="#socialProfileSettingModal"></span>
                        {% endif %}
                    </div>


                    <p class="text-white-50 my-2 px-5">{{socialProfileSetting.description}}

                        {% if app.user %}
                        <span class="bi bi-pencil-square ps-2 text-secondary pointer" data-bs-toggle="modal"
                            data-bs-target="#socialProfileSettingDescModal">
                        </span>
                        {% endif %}
                    </p>

                    <p class="text-white-50 small">
                        <span class="bi bi-eye"></span> 1.4 K
                    </p>


                </div>

                <div class="row row-cols-1 g-1">

                    {% if count(profileLinks) > 0 %}

                    {% for row in profileLinks %}
                    <div class="col">

                        <div class="card mb-2">
                            <div class="row g-0">
                                <div class="col-6">
                                    <div class="card-body">
                                        <h6 class="pt-2" title="{{row.platform}}">
                                            <span class="text-white">@{{row.username}}</span>
                                            <small class="text-white-50 me-2">({{row.platform|capitalize}})</small>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-end pe-3 pt-4">

                                        <a href="{{row.url}}" target="_blank" title="{{row.url}}"><span 
                                            class="bi bi-arrow-up-right fs-6"></span></a>

                                        <!-- <span class="bi bi-clipboard-plus px-3 pointer text-success fs-5"></span> -->

                                        {% if app.user %}
                                        <a href="{{path('app_dashboard_social_profile_edit', {id: row.id})}}">
                                            <span class="bi bi-pencil-square ps-1 fs-6 ps-3"></span>
                                        </a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}

                    {% endif %}

                </div>

                {% if not app.user %}
                <p class="mt-2 pb-3"><a href="{{path('app_register')}}" class="text-decoration-none d-color">
                        <span class="bi bi-plus-circle-fill pe-1"></span> Create your own Social-Profiles</a>
                </p>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% if app.user %}
{% include 'profile/dashboard/social-profile/modal/new.html.twig' %}
{% include 'profile/dashboard/social-profile/modal/edit_alias.html.twig' %}
{% include 'profile/dashboard/social-profile/modal/edit_description.html.twig' %}
{% endif %}


{% include 'layout/footer.html.twig' %}

{% endblock %}