<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRightGroups"
     aria-labelledby="offcanvasRightGroupsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white-50" id="offcanvasRightGroupsLabel">Groups</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success opacity-07" type="button" data-bs-target="#newGroupModal"
                    data-bs-toggle="modal">
                Add New Group <span class="bi bi-plus-circle ps-1"></span>
            </button>
        </div>
        {% if count(collections) > 0 %}
            <div class="d-grid gap-2 mt-4">
                <p class="text-white-50 mb-0 pb-0">Choose a Group:</p>

                <form action="{{ path('app_links_collection_job_store_collection') }}" method="post">
                    <select class="form-select bg-dark text-white-50" aria-label="select collection"
                            onchange="this.closest('form').submit();"
                            name="group">

                        <option value="0" selected>All groups ({{ countLinks }})</option>

                        {% for row in collections %}

                            {% if count(row.links) > 0 %}
                                <option value="{{ row.id }}" {{ row.isDefault ? 'selected' : '' }}>
                                    <span>&#45;&nbsp; {{ row.name }} ({{ count(row.links) }})</span>
                                </option>
                            {% endif %}

                        {% endfor %}

                    </select>
                </form>

                <div class="my-2">
                    <p class="text-white-50 fs-15">
                        <span class="bi bi-info-circle pe-1 text-secondary"></span>
                        To Edit or Delete your group, click on the group you want. It is under a Group column on table.
                    </p>

                    <a href="{{ path('app_link_collection_index') }}" class="text-decoration-none d-color opacity-08">
                        Manage Groups <small class="bi bi-arrow-up-right-square ps-1"></small>
                    </a>
                </div>

            </div>
        {% endif %}
    </div>
</div>