<div class="card-body table-responsive bg-white p-0 mb-3">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr class="fs-14">
                <th>User</th>
                <th>Profile</th>
                <th>Description</th>
                <th>Views</th>
                <th>Updated</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in socialProfileSettings %}
            <tr class="fs-14">
                <td>
                    <a href="{{path('app_admin_user_edit', {id:row.user.id})}}">
                        {{row.user.name|capitalize}}
                    </a>
                </td>
                <td>{{ row.mainName }}
                    <a href="{{ path('app_dashboard_social_profile_index', {profile: row.mainName}) }}" target="_blank"><span
                        class="fa fa-external-link-alt fa-xs pl-1"></span>
                    </a>
                </td>
                <td>{{ row.description }}</td>
                <td>{{ row.countViews }}</td>

                <td title="{{ row.updatedAt|date }}">{{ timeAgo(row.updatedAt) }}</td>

                <td title="{{ row.createdAt|date }}">{{ timeAgo(row.createdAt) }}</td>

                <td>
                    <a href="#" class="text-danger"><span class="fa fa-edit fa-sm pr-2"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>