<div class="card-body table-responsive bg-white p-0 mb-3">
    <table class="table table-hover text-nowrap">
        <thead>
        <tr class="fs-14">
            <th>{{ 'URL'|trans }}</th>
            <th title="How many times user add link?">{{ 'Counts'|trans }}</th>
            <th>{{ 'Modified'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            {# <th>{{ 'Action'|trans }}</th> #}
        </tr>
        </thead>
        <tbody>
        {% for row in maliciousUrls %}
            <tr class="fs-14">
                <td>
                    <code title="{{ row.url }}">{{ row.url|slice(0, 60) ~ ' ...' }}</code>
                </td>
                <td>{{ row.counter }}</td>
                <td title="{{ row.updatedAt|date }}">{{ timeAgo(row.updatedAt) }}</td>
                <td title="{{ row.createdAt|date }}">{{ timeAgo(row.createdAt) }}</td>
                {# <td>
                    <form action="{{'#'}}" method="post">
                        <small class="fa fa-trash fa-sm text-danger pointer" title="Delete?"
                            onclick="this.closest('form').submit();"></small>
                    </form>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>