<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 alert-fixed-z-index">
            {# warning #}
            {% if error is defined and error %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <img src="{{ asset('assets/img/svg/exclamation-triangle.svg') }}" alt="Warning" width="14" height="14"
                    style="margin-top: -3px;">
                <span class="text-16 pl-1">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            {% for message in app.flashes('warning') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <img src="{{ asset('assets/img/svg/exclamation-triangle.svg') }}" alt="Warning" width="14" height="14"
                    style="margin-top: -3px;">
                <span class="text-16 pl-1">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            {# notice #}
            {% for message in app.flashes('notice') %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <img src="{{ asset('assets/img/svg/exclamation-circle.svg') }}" alt="Warning" width="14" height="14"
                    style="margin-top: -3px;">
                <span class="text-16 pl-1">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            {# success #}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <img src="{{ asset('assets/img/svg/check2-circle.svg') }}" alt="Warning" width="14" height="14"
                    style="margin-top: -3px;">
                <span class="text-16 pl-1">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

        </div>
    </div>
</section>