{% extends 'layout/base.html.twig' %}

{% block title %} L1. Short URLs {% endblock %}

{% block body %}

{% include 'layout/navbar.html.twig' %}

{% include 'component/custom_type_message_top_fixed.html.twig' %}

<header class="bg-dark">
    <div class="px-4 px-lg-5 pb-5">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center py-3">
            <div class="col-lg-6 py-5 my-5">

                <h1 class="d-color font-weight-bold mt-5 pt-5 mb-3">
                    URL Shortener
                </h1>

                <p class="text-white-50 mb-5">
                    Short Link is a free tool to shorten a URL or reduce a link. Use our URL Shortener to create a
                    shortened link.
                </p>

                <form action="{{path('app_link_new')}}" method="post" class="px-2">

                    <div class="input-group mb-1">
                        <input type="text" class="form-control" placeholder="Paste your long link here"
                            style="height: 46px; border-radius: 0; background-color: #0000001c;border: 1px solid #a9d158;color: #f0efef;"
                            aria-label="URL" aria-describedby="URL" name="url" required>
                        <button class="btn btn-outline-success" type="submit" id="URL" title="Shorten Link"
                            style="height: 46px; border-radius: 0;">
                            <span class="md-d-none">Shorten URL</span> <span class="bi bi-link"></span>
                        </button>
                    </div>

                    <small class="text-secondary">
                        The short link is valid with all features for 2 Years on free plan! <br>
                        <a href="{{path('app_auth')}}" class="d-color text-decoration-none">Login for more features</a>.
                    </small>

                    {% if token is not defined %}
                    <p class="mt-3">
                        <small class="text-secondary" style="font-size: 13px;">
                            By using our service you accept the <a href="{{path('app_legal_privacy_policy')}}"
                                class="text-white-50" rel="nofollow">Privacy
                                Policy</a>.
                        </small>
                    </p>
                    {% endif %}
                </form>

                <div class="mt-5 px-2">
                    {% if token is defined and token %}

                    {% set link = app.request.schemeAndHttpHost ~ '/' ~ token %}

                    <div class="p-2 py-3 mb-3 d-dark-color">
                        <p class="pt-3">
                            <small class="text-white-50">URL has been shorten.</small>
                        </p>
                        <div class="mb-2">
                            <span class="d-color pe-1" id="link"> {{ link }}</span>

                            <span class="bi bi-clipboard-fill small text-white-50 p-2 me-1 bg-dark pointer"
                                id="clipboard" title="Copy to Cliepboard"></span>

                            <a href="{{link}}" class="text-white-50 bg-dark p-2 ms-1 md-d-none" title="Open in new Tab"
                                rel="nofollow" target="_blank">
                                <span class="bi bi-box-arrow-up-right pointer small"></span>
                            </a>
                        </div>
                        <p>
                            <span class="bi bi-twitter text-secondary ms-2 pointer"></span>
                            <span class="bi bi-facebook text-secondary ms-2 pointer"></span>
                        </p>
                    </div>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</header>

<div class="container-fluid mb-5">
    <div class="row py-5 px-lg-5">
        <div class="col-md-12">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-3">
                <div class="col">
                    <div class="card text-center text-white-50 d-dark-color h-100">
                        <span class="card-img-top bi bi-hand-thumbs-up fs-2 pt-3"></span>
                        <div class="card-body">
                            <h5 class="card-title">Easy and Fast</h5>
                            <p>Easy to use and user-friendly</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center text-white-50 d-dark-color h-100">
                        <span class="card-img-top bi bi-link-45deg fs-2 pt-3"></span>
                        <div class="card-body">
                            <h5 class="card-title">Shortened</h5>
                            <p>Long link to shortened one</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center text-white-50 d-dark-color h-100">
                        <span class="card-img-top bi bi-shield-check fs-2 pt-3"></span>
                        <div class="card-body">
                            <h5 class="card-title">Secure</h5>
                            <p>HTTPS data encryption</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center text-white-50 d-dark-color h-100">
                        <span class="card-img-top bi bi-window fs-2 pt-3"></span>
                        <div class="card-body">
                            <h5 class="card-title">Devices</h5>
                            <p>Compatible with all devices</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cb-cookie-banner" class="alert alert-secondary text-center mb-0 small text-white-50" role="alert"
    style="background-color: #000000e3;">
    This website uses cookies to ensure you get the best experience on our website.
    <a href="{{path('app_legal_privacy_policy')}}" class="d-color" target="blank" rel="nofollow,noindex">Learn more</a>
    <button type="button" class="btn btn-outline-success btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
        Okay
    </button>
</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}