{% extends 'layout/base.html.twig' %}

{% block title %} My URLs Edit Group {% endblock %}

{% block body %}

{% include 'layout/navbar.html.twig' %}

{% include 'component/custom_type_message_top_fixed.html.twig' %}

<div class="container-fluid">

    <div class="row py-3 d-dark-color shadow-sm">
        <div class="col-6 col-lg-6">
            <h5 class="text-white-50 pt-2">Edit Group Details</h5>
        </div>

        <div class="col-6 col-lg-6">
            <a href="{{path('app_profile_my_urls')}}" class="float-end text-secondary text-decoration-none fs-15 pt-2">
                Close <span class="bi bi-x-square-fill ps-1 small"></span>
            </a>
        </div>
    </div>

    <div class="row pb-5 mt-lg-5 mt-3 mb-5 justify-content-center checkboxGroup">
        <div class="col-lg-6">
            <form action="{{path('app_links_collection_store', {id:collection.id})}}" method="post">
                <div class="mb-3">
                    <label for="iName" class="form-label text-white-50">Group Name:</label>
                    <input type="text" class="form-control" id="iName" placeholder="Group name (required)"
                        style="height: 46px; border-radius: 0; background-color: #0000001c;border: 1px solid #535353;color: #f0efef;"
                        name="iName" style="height: 46px; border-radius: 0;" value="{{collection.name}}">
                        <small class="text-secondary">Group name might contain only dash (-) and numbers.</small>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" style="background-color: #0000001c;border: 1px solid #535353;"
                        type="checkbox" name="delete" id="delete">
                    <label class="form-check-label text-white-50" for="delete">
                        Delete Group "{{collection.name}}" permanentally.
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" style="background-color: #0000001c;border: 1px solid #535353;"
                        type="checkbox" name="deleteAll" id="deleteAll">
                    <label class="form-check-label text-white-50" for="deleteAll">
                        Delete Group "{{collection.name}}" and all URLs within permanentally. <span class="text-danger">
                            This action cannot be undone!
                        </span>
                    </label>
                </div>

                <div class="gap-2">
                    <button class="btn btn-primary px-3" type="submit" style="height: 42px; border-radius: 0;">
                        Update Group Name <span class="bi bi-check2-circle"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'layout/footer.html.twig' %}

{% endblock %}