{% extends 'layout/base.html.twig' %}

{% block title %} Groups Management {% endblock %}

{% block body %}

{% include 'layout/navbar.html.twig' %}

{% include 'component/custom_type_message_top_fixed.html.twig' %}

<div class="container-fluid">

    <div class="row py-3 d-dark-color shadow-sm">
        <div class="col-6 col-lg-6">
            <h5 class="text-white-50 pt-2">Groups Management</h5>
        </div>

        <div class="col-6 col-lg-6">
            <a href="{{path('app_profile_my_urls')}}" class="float-end text-secondary text-decoration-none fs-15 pt-2">
                Close <span class="bi bi-x-square-fill ps-1 small"></span>
            </a>
        </div>
    </div>

    <div class="row pb-5 mt-lg-5 mt-3 mb-5 justify-content-center">
        <div class="col-lg-8">

            <div class="col my-3">
                <div class="card">
                    <div class="card-body">
                        <span class="text-primary pointer" data-bs-toggle="modal" data-bs-target="#moveModal">
                            <span class="bi bi-arrows-move pe-1"></span> 
                            Move links to a Group
                        </span>
                    </div>
                </div>
            </div>

            <div class="accordion border-0" id="accordionCollections">
                {% for i, collection in collections %}
                <div class="accordion-item d-dark-color">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{i}}" aria-expanded="true" aria-controls="collapse{{i}}">
                            Manage Group {{collection.name|capitalize}}
                        </button>
                    </h2>
                    {# {{i == 0 ? 'show' : ''}} #}
                    <div id="collapse{{i}}" class="accordion-collapse collapse"
                        data-bs-parent="#accordionCollections">
                        <div class="accordion-body">
                            {% include 'profile/dashboard/collections/partial/manage_group.html.twig' with{index: i} %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <p class="my-3"><a href="{{path('app_profile_my_urls')}}" class="small text-decoration-none">
                    <span class="bi bi-arrow-left-circle-fill pe-1"></span> Back to URLs</a>
            </p>
        </div>
    </div>
</div>

{% include 'profile/dashboard/collections/modal/move.html.twig' %}

{% include 'layout/footer.html.twig' %}

{% endblock %}