<div class="table-responsive py-3">
    <table class="table table-dark caption-top">
        <thead class="small">
            <tr>
                <th class="col text-white-50">#</th>
                <th class="col text-white-50">Title</th>
                <th class="col text-white-50">Star</th>
                <th class="col text-white-50">Short</th>
                <th class="col text-white-50 md-d-none">URL</th>
                <th class="col text-white-50">Statistics</th>
                <th class="col text-white-50">Clicks</th>
                <th class="col text-white-50 md-d-none">Modified</th>
                <th class="col text-white-50">Created</th>
                <th class="col text-white-50">Action</th>
            </tr>
        </thead>
        <tbody>

            {% for i, link in links %}
            <tr class="small">
                <td class="text-white-50">{{i+1}}</td>
                <td class="text-white-50">{{link.title ? link.title : '---'}}</td>
                <td>
                    <form action="{{path('app_profile_job_star_store', {id:link.id})}}" class="pointer" method="post">
                        <span class="bi {{link.isFave ? 'bi-star-fill text-warning' : 'bi-star text-secondary'}}"
                            onclick="this.closest('form').submit();"></span>
                        <div class="d-none">
                            <input type="hidden" name="star" value="on">
                        </div>
                    </form>
                </td>
                {% set urlPath = app.request.schemeAndHttpHost ~ '/' ~ link.token %}
                <td class="text-white-50" title="{{ urlPath}}">
                    <span class="cUrlCode cursor-help" data-description="{{urlPath}}"
                        title="Copy to Clipboard">{{link.token}}</span> <a
                        href="{{ urlPath }}" class="ps-1" target="_blank">
                        <span class="bi bi-box-arrow-up-right text-primary" title="Visit your long URL"></span>
                    </a>
                </td>
                <td title="{{link.url}}" class="cursor-help md-d-none">
                    <span class="text-white-50">{{link.url|slice(0, 35) ~ ' ...'}}</span>
                </td>
                <td class="text-white-50">{{ link.isPublic ? checkCircle('text-success') : circle('text-danger') }}</td>
                <td class="text-white-50">{{link.counter}}</td>
                <td class="text-white-50 md-d-none">{{link.updatedAt|date('d.m.Y')}}</td>
                <td class="text-white-50">{{link.createdAt|date('d.m.Y')}}</td>
                <td>
                    <div class="dropdown three-dots" data-id="{{link.id}}">
                        <div class="text-white-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="bi bi-three-dots"></span>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li class="small">
                                <a class="dropdown-item" href="{{path('app_profile_my_urls_edit', {id:link.id}) }}">
                                    <span class="bi bi-pencil-square pe-2"></span> Edit
                                </a>
                            </li>
                            {% if link.counter > 0 and link.isPublic %}
                            <li class="small">
                                <a class="dropdown-item" href="{{path('app_url_statistic_index', {id:link.id})}}">
                                    <span class="bi bi-pie-chart pe-2"></span> Statistic
                                </a>
                            </li>
                            {% endif %}
                            <li class="small">
                                <div class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <span class="bi bi-trash pe-2"></span>Delete
                                </div>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>